<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for('static', filename='css/pedidossolicitados.css') }} />
    <title>Pedidos</title>
</head>
<body>
    <div id="menu">
      <p id="pmenu">Pedidos</p>
    </div>
    <div id="table">
        <table>
            <tr>
                <th class="column-1"></th>
                <th class="column-2"></th>
                <th class="column-3"></th>
                <th class="column-3"></th>
            </tr>
            {% for produto in detalhesdepedidos %}
            <tr>
                <td class="column-1">
                  {{produto.nome_produto}}
                </td>
                <td class="column-2">
                    {{produto.quantidade}}
                </td>
                <td class="column-3">
                  R${{produto.valor}}
                </td>
                <td class="column-3">
                  <label id="status" for="">Em Preparo</label>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div id="ask">
            <a href="/cardapio" />Adicionar Algo mais?
        </div>
    </div>
    <script src="{{url_for('static', filename="js/pedidossolicitados.js")}}"></script>
</body>
</html>
