{% extends 'baseadmin.html' %}

{% block content %}
<table class="table table-hover">
    <thead>
      <tr>
          <th>Nome do Produto</th>
          <th>Quantidade</th>
      </tr>
    </thead>
      <tbody>
        {% for produto in produtos %}
          <tr>
            <td>{{ produto.nome_produto }}</td> 
            <td>{{ produto.quantidade}}</td>
            <td>{{produto.numero_mesa}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{{url_for('finalizar', mesa = mesa_selecionada)}}" class="btn btn-primary btn-sm m-1">Finalizar Mesa</a>
  
{% endblock %}
